#calculator{
    margin-left: 30vw;
    margin-top: 10vh;
    display: flex;
    height: 528px;
    width: 407px;
    border: 2px solid #CDD0D3;
    flex-wrap: wrap;


}
#numbers{
    
    width: 306px;
    height:408px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F8F9F9;


}

#signs{
    
    width: 100px;
    height: 407px;
    background-color: #D5D8DC ;
    /* border: 2px solid black; */


}

#display-container{
    
    width: 407px;
    height: 120px;
    /* border: 2px solid black; */


}



.button{
    width: 100px;
    height: 100px;
    text-align: center;
    border-top: 2px solid #CDD0D3;
    border-right : 2px solid #CDD0D3;

}
.button div{
    padding-top: 30px;
}


#signs div{
    width: 100px;
    height: 79.5px;
    text-align: center;
    border-top: 2px solid #CDD0D3;

}
